<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Point Board</title>
</head>
<body>
    <h1>Club list</h1>
   
    <table>
    <thead>
        <th>Club name</th>
        <th>Nb. point</th>
    </thead>
    <tbody>
    {% for club in pointboard %}
        <tr>
            <td>{{ club.name }}</td>
            <td>{{ club.points }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</body>
</html>